<div class="header">
    <div class="header_title">
        <h2 class="header_title-text">Яцків Михайло</h2>
    </div>
    <div class="nav_mobileBtn">
        <div class="nav_mobileBtn-line nav_mobileBtn-lineOne"></div>
        <div class="nav_mobileBtn-line nav_mobileBtn-lineTwo"></div>
        <div class="nav_mobileBtn-line nav_mobileBtn-lineThree"></div>
    </div>
    <div class="nav">
        <div class="nav_ul">
            <div class="nav_li"><a href="/">Головна</a></div>
            <div class="nav_li"><a href="/dates">Дати</a></div>
            <div class="nav_li active_link"><a href="/art">Твори</a></div>
            <div class="nav_li"><a href="/map">Карта</a></div>
        </div>
    </div>
</div>

<div class="art_filters">
    <div class="art_filtersBlock">
        <div class="art_filtersSpoiler">
            <div class="art_filtersSpoiler-arrowBlock">
                <div class="art_filtersSpoiler-arrow">
                    <div class="art_filtersSpoiler-arrowLine"></div>
                    <div class="art_filtersSpoiler-arrowLine"></div>
                </div>
            </div>
            <h2 class="art_filtersSpoiler-title">Фільтри</h2>
        </div>
        <div class="art_filtersContent">
            <div class="filters_choosen">
                <div class="filters_choosenColumn">
                    <div class="filters_choosenColumn-title">
                        <h2>Рік</h2>
                    </div>
                    <div class="filters_choosenColumn-content">
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="year2016">
                            <label for="year2016">2016 р.</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="year2010">
                            <label for="year2010">2010 р.</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="year1989">
                            <label for="year1989">1989 р.</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="year1985">
                            <label for="year1985">1985 р.</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="year1973">
                            <label for="year1973">1973 р.</label>
                        </div>
                    </div>
                </div>
                <div class="filters_choosenColumn">
                    <div class="filters_choosenColumn-title">
                        <h2>Жанр</h2>
                    </div>
                    <div class="filters_choosenColumn-content">
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="catharsis">
                            <label for="catharsis">Катарсис</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="modernism">
                            <label for="modernism">Модернізм</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="novel">
                            <label for="novel">Новела</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="romance">
                            <label for="romance">Роман</label>
                        </div>
                    </div>
                </div>
                <div class="filters_choosenColumn">
                    <div class="filters_choosenColumn-title">
                        <h2>Мова</h2>
                    </div>
                    <div class="filters_choosenColumn-content">
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="ukrainian">
                            <label for="ukrainian">Українська</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="russian">
                            <label for="russian">Російська</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="polish">
                            <label for="polish">Польська</label>
                        </div>
                    </div>
                </div>
                <div class="filters_choosenColumn">
                    <div class="filters_choosenColumn-title">
                        <h2>Сторінки</h2>
                    </div>
                    <div class="filters_choosenColumn-content">
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="pages100">
                            <label for="pages100">Від 100 до 200</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="pages200">
                            <label for="pages200">Від 200 до 300</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="pages300">
                            <label for="pages300">Від 300 до 400</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="pages400">
                            <label for="pages400">Від 400 до 500</label>
                        </div>
                        <div class="filters_choosenColumn-input">
                            <input type="checkbox" class="filters_choosenColumn-checkbox" id="pages500">
                            <label for="pages500">Від 500</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="art_filtersBtnMb">
        Фільтри
    </div>
    <div class="art_filtersBlockMb">
        <h2 class="art_filtersBlockMb-title">Фільтри</h2>
        <div class="art_filtersBlockMb-closeBtn">
            <div class="art_filtersBlockMb-closeline"></div>
            <div class="art_filtersBlockMb-closeline"></div>
        </div>
        <div class="filters_choosen">
            <div class="filters_choosenColumn">
                <div class="filters_choosenColumn-title">
                    <h2>Рік</h2>
                </div>
                <div class="filters_choosenColumn-content">
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="year2016Mbl">
                        <label for="year2016Mbl">2016 р.</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="year1935Mbl">
                        <label for="year1935Mbl">1935 р.</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="year_3Mbl">
                        <label for="year_3Mbl">1935 р.</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="year_4Mbl">
                        <label for="year_4Mbl">1935 р.</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="year_5Mbl">
                        <label for="year_5Mbl">1935 р.</label>
                    </div>
                </div>
            </div>
            <div class="filters_choosenColumn">
                <div class="filters_choosenColumn-title">
                    <h2>Жанр</h2>
                </div>
                <div class="filters_choosenColumn-content">
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="catharsisMbl">
                        <label for="catharsisMbl">Катарсис</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="modernismMbl">
                        <label for="modernismMbl">Модернізм</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="novelMbl">
                        <label for="novelMbl">Новела</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="romanceMbl">
                        <label for="romanceMbl">Роман</label>
                    </div>
                </div>
            </div>
            <div class="filters_choosenColumn">
                <div class="filters_choosenColumn-title">
                    <h2>Мова</h2>
                </div>
                <div class="filters_choosenColumn-content">
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="ukrainianMbl">
                        <label for="ukrainianMbl">Українська</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="russianMbl">
                        <label for="russianMbl">Російська</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="polishMbl">
                        <label for="polishMbl">Польська</label>
                    </div>
                </div>
            </div>
            <div class="filters_choosenColumn">
                <div class="filters_choosenColumn-title">
                    <h2>Сторінки</h2>
                </div>
                <div class="filters_choosenColumn-content">
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="pages100Mbl">
                        <label for="pages100Mbl">100+</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="pages200Mbl">
                        <label for="pages200Mbl">200+</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="pages300Mbl">
                        <label for="pages300Mbl">300+</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="pages400Mbl">
                        <label for="pages400Mbl">400+</label>
                    </div>
                    <div class="filters_choosenColumn-input">
                        <input type="checkbox" class="filters_choosenColumn-checkbox" id="pages500Mbl">
                        <label for="pages500Mbl">500+</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="art_galery">
    {{#each books}}
    <div class="art" style="background-image: url({{linkPhoto}});" year={{fYear}} genre={{fGenre}}
        language={{fLanguage}} pages={{fPages}}>
        <div class="artBG_container">
            <p class="art_title">{{title}}</p>
            <p class="art_year"><span>{{year}}</span></p>
            <p class="art_genre"><span>Жанр:</span> {{genre}}</p>
            <p class="art_language"><span>Мова:</span> {{language}}</p>
            <p class="art_pages">{{pages}}</p>
            <div class="art_button">Більше</div>
        </div>
    </div>
    {{/each}}
</div>
<div class="art_outputBlock">
    <div class="art_outputBlock_Close-btn">
        <div class="art_outputBlock_Close-line"></div>
        <div class="art_outputBlock_Close-line"></div>
    </div>
    <img class="art_outputBlock-img" src="img/books/book5.jpg" alt="book">
    <div class="art_outputBlockContent">
        <div class="art_outputBlockContent-description">
            <h2 class="art_outputBlockContent-title">Чорні крила</h2>
            <p class="art_outputBlockContent-year"><span>Рік:</span> 2016</p>
            <p class="art_genre"><span>Жанр:</span> Модернізм</p>
            <p class="art_language"><span>Мова:</span> Українська</p>
            <p class="art_pages">192 ст.</p>
            <a target="_blank" href="https://www.yakaboo.ua/ua/chorni-krila-ta-inshi-tvori.html" class="art_outputBlockContent-button">Купити</a>
        </div>
        <div class="art_outputBlockContent-writings">
            <h2 class="art_outputBlockContent-writingsTitle">Список творів</h2>
            <ul class="art_outputBlockContent-writingsUl">
                <li class="art_outputBlockContent-writingsLi">«Гріх не все вийде наяву…»</li>
                <li class="art_outputBlockContent-writingsLi">«Одна дівчина любила ліжко…»</li>
                <li class="art_outputBlockContent-writingsLi">«Любім щире слово…»</li>
                <li class="art_outputBlockContent-writingsLi">«Приятель дому…»</li>
                <li class="art_outputBlockContent-writingsLi">Гості</li>
                <li class="art_outputBlockContent-writingsLi">«Прийшла з далекого села…»</li>
                <li class="art_outputBlockContent-writingsLi">«Внесли його на ношах»</li>
                <li class="art_outputBlockContent-writingsLi">Діточа грудь у скрипці</li>
                <li class="art_outputBlockContent-writingsLi">Пегас</li>
                <li class="art_outputBlockContent-writingsLi">Дитина</li>
                <li class="art_outputBlockContent-writingsLi">«Гріх не все вийде наяву…»</li>
                <li class="art_outputBlockContent-writingsLi">«Одна дівчина любила ліжко…»</li>
                <li class="art_outputBlockContent-writingsLi">«Любім щире слово…»</li>
                <li class="art_outputBlockContent-writingsLi">«Приятель дому…»</li>
                <li class="art_outputBlockContent-writingsLi">Гості</li>
                <li class="art_outputBlockContent-writingsLi">«Прийшла з далекого села…»</li>
                <li class="art_outputBlockContent-writingsLi">«Внесли його на ношах»</li>
                <li class="art_outputBlockContent-writingsLi">Діточа грудь у скрипці</li>
                <li class="art_outputBlockContent-writingsLi">Пегас</li>
                <li class="art_outputBlockContent-writingsLi">Дитина</li>
            </ul>
        </div>
    </div>
</div>

<script src="js/art.js"></script>