<div class="header">
    <div class="header_title">
        <h2 class="header_title-text">Яцків Михайло</h2>
    </div>
    <div class="nav_mobileBtn">
        <div class="nav_mobileBtn-line nav_mobileBtn-lineOne"></div>
        <div class="nav_mobileBtn-line nav_mobileBtn-lineTwo"></div>
        <div class="nav_mobileBtn-line nav_mobileBtn-lineThree"></div>
    </div>
    <div class="nav">
        <div class="nav_ul">
            <div class="nav_li"><a href="/">Головна</a></div>
            <div class="nav_li"><a href="/dates">Дати</a></div>
            <div class="nav_li"><a href="/art">Твори</a></div>
            <div class="nav_li active_link"><a href="/map">Карта</a></div>
        </div>
    </div>
</div>

<div class="mapContent">
    <div class="mapContent_title">
        <h2 class="mapContent_title-text">Головні місця в житті автора</h2>
    </div>
    <div class="mapContainer">
        <div class="map map1">

        </div>
        <div class="map map2">
            {{#each map_2}}
            <div class="mark" id={{name}} index={{index}} style="left: {{x}}px; top: {{y}}px;">
                <img src="https://cdn.discordapp.com/attachments/750857418950443069/834678443143725056/IMG_20210422_093348_711.png"
                    alt="pin" class="pin">
                <p class="mark_title">{{name}}</p>
            </div>
            {{/each}}
        </div>
        <div class="map map3">
            {{#each map_3}}
            <div class="mark" id={{name}} index={{index}} style="left: {{x}}px; top: {{y}}px;">
                <img src="https://cdn.discordapp.com/attachments/750857418950443069/834678443143725056/IMG_20210422_093348_711.png"
                    alt="pin" class="pin">
                <p class="mark_title">{{name}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="mark_outputBlock">

    </div>
    <div class="mapContent_buttons">
        <div class="mapContent_buttons-button" number="0">ЛЬВІВ</div>
        <div class="mapContent_buttons-button activeButtonMap" number="1">ІВАНО-ФРАНКІВСЬК</div>
        <div class="mapContent_buttons-button" number="2">ЛИСЕЦЬ</div>
    </div>
</div>

<script src="js/map.js"></script>
<script src="js/marks.js"></script>